html {
  font-family: "Helvetica", Arial;
  height: 100%;
  width: 100%;
}


* {
  box-sizing: border-box;
}

body {
  margin: auto;
  height: 100%;
  width: 100%;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.main-bar {
  width: 0.2vw;
  min-width: 2px;
  height: 100%;
  background-color: black;
  float: left;
}

.split {
  height: 100%;
  float: left;
}

.left {
  width: 60%;
}

.right {
  width: 30%;
}

.main-wrapper {
  width: 80%;
  height: 100%;
  float: right;
  overflow: hidden;
}

.bar-wrapper {
  width: 100%;
  height: 0.2vw;
  min-height: 2px;
}

.left-bar {
 background-color: black;
 width: 100%;
 height: 100%;
 float: right;
}

.right-bar {
 background-color: black;
 width: 100%;
 height: 100%;
 float: left;
}

.header-wrapper {
  width: 100%;
}

#name {
  padding-top: 5vh;
  display: inline-block;
  vertical-align: bottom;
  font-size: 5vh;
}

#content {
  padding: 1vw;
  text-align: center;
  overflow: auto;
  height: 80%;
  width: 100%;
}

.right-header-wrapper {
  display: inline-block;
}

#cv {
  text-align: right;
  padding-top: 2vh;
  padding-left: 2vw;
  font-size: 4vh;
}

#detail {
  padding: 10px;
  height: 85%;
  overflow: auto;
}

#mail {
  width: 100%;
  text-align: right;
}


.img-wrapper {
    width: 25%;
    display: inline-block;
    margin: 1vw;
}

.img-wrapper img {
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 1200px) {
  .img-wrapper {
    width: 40%;
  }
}

@media only screen and (max-width: 600px) {
  .img-wrapper {
    width: 80%;
  }
}

