<link rel="stylesheet" type="text/css" href="../../style.css">
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />

<div class="split left">
  <div class="main-wrapper">
  <a href="../../index.html">
    <div class="header-wrapper">
    <div id="name">
        {{ title }}
    </div>
    <div class="bar-wrapper">
      <div class="left-bar">
      </div>
      </div>
    </div>
  </a>

    <div id="content">
        {% for img_name in project.img_names %}
        <div class="img-wrapper-project">
            <a target="_blank" href="img/{{ img_name }}">
                <img src="img/{{ img_name }}">
            </a>
        </div>
        {% endfor %}
    </div>
  </div>
</div>

<div class="main-bar">
</div>

<div class="split right">
  <div class="right-header-wrapper">
    <div id="cv">
      {{ project.name }}
    </div>
    <div class="bar-wrapper">
    <div class="right-bar">
    </div>
    </div>
  </div>

  <div id="detail">
      {{ project.comment }}
  </div>
  
  <div id="mail">
      {{ mail }}
  </div>
</div>

