html {
  font-family: "Helvetica", Arial;
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: auto;
  height: 98%;
  width: 100%;
  padding-top: 2vh;
  padding-bottom: 5vh;
  color: rgb(25, 50, 75);
}

::-webkit-scrollbar {
  width: 0.2vw;
}

::-webkit-scrollbar-thumb {
  background: rgb(240, 240, 240);
}

a {
  text-decoration: none;
  color: rgb(25, 50, 75);
}

.main-bar {
  width: 0.2vw;
  min-width: 2px;
  height: 100%;
  background-color: rgb(25, 50, 75);
  float: left;
}

.split {
  height: 100%;
  float: left;
}

.left {
  width: 60%;
}

.right {
  width: 30%;
}

.main-wrapper {
  width: 90%;
  height: 100%;
  float: right;
  overflow: hidden;
}

.bar-wrapper {
  width: 100%;
  height: 0.2vw;
  min-height: 2px;
}

.left-bar {
 background-color: rgb(25, 50, 75);
 width: 100%;
 height: 100%;
 float: right;
}

.right-bar {
 background-color: rgb(25, 50, 75);
 width: 100%;
 height: 100%;
 float: left;
}

.header-wrapper {
  width: 100%;
}

#name {
  padding-top: 0vh;
  display: inline-block;
  vertical-align: bottom;
  font-size: 4vw;
  letter-spacing: 2px
}

#content {
  padding-top: 1vh;
  text-align: center;
  overflow: auto;
  height: 80%;
  width: 100%;
}

.right-header-wrapper {
  display: inline-block;
}

#cv {
  text-align: right;
  padding-top: 0vh;
  padding-left: 2vw;
  font-size: 3vw;
  letter-spacing: 5px;
}

#detail {
  padding: 10px;
  height: 85%;
  overflow: auto;
}

#mail {
  padding-top: 2vh;
  padding-right: 2vw;
  width: 100%;
  text-align: right;
  font-size:2vw;
}


.img-wrapper {
    width: 28%;
    display: inline-block;
    margin: .5vw;
    margin-bottom: .1vw
}

.img-wrapper img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

@media only screen and (max-width: 1200px) {
  .img-wrapper {
    width: 40%;
  }
}

@media only screen and (max-width: 600px) {
  .img-wrapper {
    width: 80%;
  }
}

.img-wrapper-project {
    width: 100%;
    display: inline-block;
}

.img-wrapper-project img {
    width: 100%;
    height: auto;
    max-width: 750px;
    padding: 10px;
}
